.keyword { font-weight : bold }
.superscript { font-size : 4 }
.subscript { font-size : 4 }
.comment { color : Green }
.constructor { font-style: italic; }
.type { font-weight: bold; font-style: italic; }
.string { color : #b5bd68; }
.warning { color : #f5871f; font-weight : bold }
.info { margin-left : 3em; margin-right: 3em }
.param_info { margin-top: 4px; margin-left : 3em; margin-right : 3em }
.typetable { border-style : hidden }
.paramstable { border-style : hidden ; padding: 5pt 5pt}
div.sig_block {margin-left: 2em}
*:target { border-left: 8px #B4B4B4 solid; }
*:target::before { content: " "; }

body {
  font-family: sans-serif;
  font-size: 125%;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
  max-width: 800px;
  background-color: #212127;
  color: #B4B4B4;
}

h1 { font-size : 20pt ; text-align: center; }
h2 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ;padding: 2px; }
h3 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90DDFF ;padding: 2px; }
h4 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90EDFF ;padding: 2px; }
h5 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90FDFF ;padding: 2px; }
h6 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #90BDFF ; padding: 2px; }
div.h7 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #E0FFFF ; padding: 2px; }
div.h8 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #F0FFFF ; padding: 2px; }
div.h9 { font-size : 20pt ; border: 1px solid #000000; margin-top: 5px; margin-bottom: 2px;text-align: center; background-color: #FFFFFF ; padding: 2px; }

pre {
  margin-bottom: 4px;
  font-family: monospace;
  color: #D2D2D2;
  background-color: #3A4152;
  padding: 8px 16px;
}

pre.verbatim, pre.codepre { }
.indextable {border: 0;}
.indextable td, .indextable th {border: 0; min-width: 80px}
.indextable td.module { padding-left: 2px; padding-right: 2px}
.indextable td.module a {color: 4E6272; text-decoration: none; display: block; width: 100%}
.deprecated {color: #9768d1; font-style: italic}
.indextable tr td div.info { margin-left: 2px; margin-right: 2px }
ul.indexlist { margin-left: 0; padding-left: 0;}
ul.indexlist li { list-style-type: none ; margin-left: 0; padding-left: 0; }

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px black dotted;
}
